@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

/* custom properties */
:root {
  --active-blue: #3498db;
  --disabled-gray: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  /* To position other items inside with absolute */
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
} 

/*  Grey progress line */
.progress-container::before {
  content: '';
  background-color: var(--disabled-gray);
  /* Positioned absoulte within progress-container */
  position: absolute;
  top: 50%;
  left: 0;
  /* Right in the middle */
  transform: translateY(-50%); 
  height: 4px;
  width: 100%;
  z-index: -1;
}

/*  Blue progress line */
.progress {
  background-color: var(--active-blue);
  /* Positioned absoulte within progress-container */
  position: absolute;
  top: 50%;
  left: 0;
  /* Right in the middle */
  transform: translateY(-50%); 
  height: 4px;
  width: 0%;
  /* Behind the circle */
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* center numbers inside circle */
  display: flex;
  align-items: center;
  justify-content: center ;
  border: 3px solid var(--disabled-gray);
  transition: 0.4s ease;
}

/* circle with an active class with it ( circle & active) */
.circle.active {
  border-color: var(--active-blue);
}

.btn {
  background-color: var(--active-blue);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 30px ;
  margin: 10px;
  font-size: 1em;
}

.btn:active {
  transform: scale(1.1);
}

.btn:disabled {
  background-color: var(--disabled-gray);
  cursor: not-allowed;
}